<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="/">Home</a>

    {% comment %}
      The code below dynamically generates a sidebar nav of pages with
      `layout: page` in the front-matter. See readme for usage.
    {% endcomment %}

    {% assign pages_list = site.pages %}
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if node.layout == "page" %}
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
        {% endif %}
      {% endif %}
    {% endfor %}

    <a class="sidebar-nav-item" href="{{ site.github.main }}" target="_blank"><i class="fa fa-github fa-lg"></i> GitHub</a>
    <a class="sidebar-nav-item" href="{{ site.twitter.main }}" target="_blank"><i class="fa fa-twitter fa-lg"></i> Twitter</a>
    <a class="sidebar-nav-item" href="{{ site.linkedin.main }}" target="_blank"><i class="fa fa-linkedin fa-lg"></i> LinkedIn</a>
    <a class="sidebar-nav-item" href="{{ site.pgp.main }}" target="_blank"><i class="fa fa-key fa-lg"></i> PGP</a>
    <a class="sidebar-nav-item" href="{{ site.rss.main }}" target="_blank"><i class="fa fa-rss fa-lg"></i> Feed</a>

  </nav>

  <div class="sidebar-item">
    <p>
       Last Updated: {{ site.time | date_to_string }}
    </p>
  </div>

  <div class="sidebar-item">
    <p>
        This is my personal web site. The opinions expressed herein represent my own, and not those of any employer, group, or organization.
    </p>
    <p>
      &copy; {{ site.time | date: '%Y' }}. All rights reserved.
    </p>
  </div>
</div>
